@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color : hsl(47, 88%, 63%);
    --secondary-color : hsl(0, 0%, 42%);
    --balance-color-light: hsl(0, 0%, 100%);
    --balance-color-dark : hsl(0, 0%, 7%);
    font-size : 16px;
}

body {
    background-color: var(--primary-color);
    font-family: Figtree, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card {
    background-color: var(--balance-color-light);
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding:1.5rem;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 0.7rem 0.7rem;
}

img {
    border-radius: 10px;
}    

strong {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.date {
    font-weight: 500;
}

h1 {
    margin : 0;
}

h1:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.text-content{
    color: var(--secondary-color)
}

.author-information {
    display: grid;
    grid-template-columns: 5rem 6rem;
    margin : 0;

}

.profile-picture {
    width: 4rem;
}

.author-name {
    font-weight: bold;
}